extends ./layout/index.pug
block compartircontenido    
    main.d-flex.align-items-center.inicio-main
        .container.my-5
            h1.fw-bold.text-center Sistema Administrativo de los Hoteles de Zacatlán de las manzanas
            