header
    nav
        .container
            .row.d-flex.justify-content-between
                .col-12.col-md-3.p-0.d-flex.justify-content-center
                    a(href="/inicio")
                        img(src="/img/Logo.png",width=100,class="img-fluid logo", alt="Imagen equipo",height =200)
                .col-12.col-md-7.col-lg-6.p-0.d-flex.flex-row.align-items-center
                    ul.enlaces.d-flex.flex-column.flex-sm-row.justify-content-between
                        li
                            a(href="/inicio" class="btn btn-lg btn-color") Inicio
                        li(class="dropdown")
                            a(class="btn btn-lg btn-color dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false") Hoteles 

                            ul(class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink")
                                li
                                    a(class="dropdown-item" href="/anadirHotel") A침adir Hotel
                                li
                                    a(class="dropdown-item" href="/listaHoteles") Lista Hoteles
                        li(class="dropdown")
                            a(class="btn btn-lg btn-color dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false") Gerentes

                            ul(class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink")
                                li
                                    a(class="dropdown-item" href="/anadirGerente") A침adir Gerente
                                li
                                    a(class="dropdown-item" href="/listaGerentes") Lista Gerentes
                        li(class="dropdown")
                            a(class="btn btn-lg btn-color dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false") Habitaciones

                            ul(class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink")
                                li
                                    a(class="dropdown-item" href="/anadirHabitacion") A침adir Habitaci칩n
                                li
                                    a(class="dropdown-item" href="/listaHabitaciones") Lista Habitaciones
                        li
                            a(href="/cerrarsesion" class="btn btn-lg btn-color") Cerrar Sesion 