doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Equipo 7 | #{pagina}
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Tinos:wght@700&display=swap" rel="stylesheet")
        link(rel="shortcut icon", href="/img/Logo.png", type="image/x-icon")
        link(rel="stylesheet", href="../../css/bootstrap.min.css")
        link(rel="stylesheet", href="../../css/miestilo.css")
    body 
        include headerPublico 
        block compartircontenido 
        include footerPublico